body{
  font-family: Helvetica;
  font-weight: 100;
  color: #777;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 70px;
  margin-top: 20px;

}

.links ul a {
  text-decoration: none;
  padding-right: 15px;
  color: #309389;
  font-weight: 600;
}
.headingp {
  color: #309389;
  text-align: center;
}

.content {
  margin-top: 4%;
  width: 27%;
  text-align: justify;
}

.img{
  width: 27%;
  width: 300px; 
  height: 300px;
}

.part2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; 
}

.label {
  margin: 0 40px 0 0 ;
  font-size: 26;
  line-height: 50px;
  display: none;
  }
  
#toggle{
  display: none;
}


.paragraphs {
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 6%;
  text-align: justify;
  line-height: 1.2em;
}

.follow {
display: flex;
justify-content: center;
}

.follow a {
  padding-right:10px;
  color: #32998F
}

.head{
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content:space-around;
}

.testimonial-card{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  min-height: 350px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0,0,0,.3);
  margin-bottom: 50px;
}

.image{
  background-color:tomato;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid #fed8b1;
}

.logo a {
  height: 25px;
  padding-right: 10px;
  color: #32998F;
}

@media (min-width: 1024px) {

}

@media (min-width: 769px) and (max-width: 1023px) {
  
}

@media (max-width: 768px) {
  
  .part2{
    display: block;
  }

  .label {
    display: block;
    cursor: pointer;
  }
  .links{
    text-align: center;
    width: 100%;
    display: none;
  }

  .links ul a {
    display: block;
    margin: 0;
  }

  #toggle:checked + .links{
    display: block;

  }
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .img {
    
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    width: 300px; 
    height: 300px;
  }
}